/* Estilos básicos */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Gastos organizados con Flexbox */
.gastos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.gasto-card {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gasto-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gasto-card p {
    margin: 5px 0;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.gasto-card {
    animation: fadeIn 0.5s ease;
}

/* Reseñas organizadas con Grid */
.reseñas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.reseña-item {
    background-color: #e7e7e7;
    padding: 15px;
    border-radius: 5px;
}

/* Formulario de contacto responsivo */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Fondo con degradado */
#inicio {
    background-image: url('../img/v991-n-26-removebg-preview.png');
    background-size: contain; /* Image will be scaled to fit inside the container while maintaining aspect ratio */
    background-repeat: repeat;
    background-position: center; /* Centers the image */
    color: white;
    padding: 100px 20px;
    text-align: center;
    min-height: 300px;
}

#inicio h2, #inicio p {
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

/* Media Queries para hacer la página responsiva */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .gasto-card {
        width: 100%;
    }

    #contacto form {
        padding: 0 10px;
    }
}

.navbar.sticky-top {
    background-color: rgba(33, 37, 41, 1) !important;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}
